/*
 * Chaos
 *
 * Management API - Central user exposed system
 *
 * The version of the OpenAPI document: 1.0
 * Contact: support@qernal.com
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
use std::pin::Pin;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct SystemApiClient<C: hyper::client::connect::Connect>
    where C: Clone + std::marker::Send + Sync + 'static {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::connect::Connect> SystemApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> SystemApiClient<C> {
        SystemApiClient {
            configuration,
        }
    }
}

pub trait SystemApi {
    fn get_system_health(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetSystemHealth200Response, Error>>>>;
}

impl<C: hyper::client::connect::Connect>SystemApi for SystemApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    #[allow(unused_mut)]
    fn get_system_health(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetSystemHealth200Response, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/system/health".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

}
